ul.row{
  list-style: none;
  overflow: hidden;
}
ul.row li {
  text-align: center;
  float: left;
  margin: 0;
}
ul.row li p{
  margin: 0 10px 0 0;
}

textarea {
  min-width: 400px;
  min-height: 200px;
}
